@model string
@{
    ViewBag.Title = "Fight";
}
<style>
    .chebur {
        text-align: center;
        font-size:3px;
        color: black;
    }
</style>
<br>
<div class="chebur">
    <h2>😃 @*😊*@ 😀 @Model @*😩*@ 😭 🤕</h2>
</div>


