@{
    ViewBag.Title = "Contacts";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Belarus,<br />
    Minsk,<br />
    23-29, Odoevskogo str.,<br />
    <abbr title="Phone">Phone:</abbr>
    80445869706;
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:saint12maloj@gmail.com">Email us!!!</a><br />
    
</address>