@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>🤟 cOrOvans 🤟</h1>
    <p class="lead">This applications - is the result of the creative approach, sense of humor and a bit of abilities to ASP.NET MVC, C#, EF, HTML, CSS and JS 🤪</p>
    <p><a href="http://www.netlore.ru/korovani" class="btn btn-primary btn-lg">Learn more about MISTland and "The сОrОvans story" &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>ASP.NET MVC getting started</h2>
        <p>
            ASP.NET MVC gives a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Much more libraries with NuGet</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting or How to host "cOrOvans"</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>